{% extends 'base.html.twig' %}

{% block title %}Voter Starter kit{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            position: relative;
            min-height: 95vh;
        }
        a {
            text-decoration: none;
        }
        .centered {
            margin: 0 auto;
        }

        .form-wrapper {
            max-width: 350px;
        }

        .form-wrapper#login-form-wrapper {
            margin-top: 3em;
        }

        a#logout {
            position: absolute;
            top: 1em;
            right: 1em;
            color: black;
            z-index: 5;
        }

        a#logout button {
            padding: 12px 20px;
            background-color: #454545;
            border: 0;
            border-radius: 4px;
            color: #fff;
            font-size: large;
            cursor: pointer;
        }
        .posts > .header {
            margin-top: 1.2em;
            text-align: center;
        }
        .post {
            margin: 20px 1em;
        }
        .flash-message {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            padding: 2px 0;
            text-align: center;
            transition: all .45s ease-in-out;
        }
        .flash.message.hidden {
            display: none;
        }
        .flash-message.flash-success {
            background-color: #aaff80;
        }
        .flash-message.flash-error {
            background-color: #B30000;
            color: #fff;
        }
    </style>
{% endblock %}
{% block body %}
{% for label, messages in app.flashes(['success', 'warning', 'notices', 'error']) %}
    {% for message in messages %}
        <div class="flash-message {{ 'flash-' ~ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div style="text-align: center;">Symfony voters kata</div>
{% if not app.user %}
<div class="centered form-wrapper" id="login-form-wrapper">
    {{ form(login_form) }}
</div>
{% endif %}

{% if app.user %}
<a href={{ path('app_logout') }} id="logout"><button>Log me out</button></a>
{% endif %}

<div class="posts">
    <h2 class="header">Latest Posts</h2>
{% for post in posts %}
    <div class="post">
        <p>{{ post.content }}</p>
        <p>
            <a href="{{ path('post_single', {postId: post.id}) }}">View</a>
            {% if app.user and app.user.id == post.owner.id %}
            <a href="{{ path('post_edit', {postId: post.id}) }}">Edit</a>
            <form action="{{ path('post_delete', {postId: post.id}) }}" method="POST" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" style="cursor: pointer;">Delete</button>
            </form>
            {% endif %}
        </p>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/app.js"></script>
{% endblock %}
