{% extends 'base.html.twig' %}

{% block title %}Viewing a post{% endblock %}

{% block body %}
    <p>{{ post.content}}</p>
    <p>Author: {{ post.owner.email }}</p>
    <p><a href="{{ path('app_home') }}">back home</a></p>
{% endblock %}
